# Habilita la anotación @lombok.Generated en código generado por Lombok
lombok.addLombokGeneratedAnnotation = true

# Ajustar el nivel de visibilidad de los setters generados por @Data
lombok.setter.flagUsage = WARNING

# Deshabilitar las advertencias del constructor sin argumentos
lombok.noArgsConstructor.flagUsage = WARNING

config.stopBubbling = true